.buttonPrimary {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    justify-content: end;
    width: 114px;
}

.buttonPrimary:hover {
    background-color: #35b5d6;
}

.buttonPrimaryDisabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buttonPrimaryDisabled:hover {
    background-color: #ccc;
    cursor: default;
}

.buttonPrimaryInActive {
    padding: 0.5rem 1.8rem;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: #5a5a5a;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    justify-content: end;
}
