.buttonPrimary {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    width: 118px;
}

.buttonPrimary:hover {
    background-color: #35b5d6;
}

.buttonPrimaryDisabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buttonPrimaryDisabled:hover {
    background-color: #ccc;
    cursor: default;
}

.buttonPrimaryInActive {
    padding: 0.5rem 1.8rem;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: #5a5a5a;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    justify-content: end;
}

@media screen and (max-width: 1024px) {
    .buttonPrimary {
        height: 45px;
        width: 100px;
        font-size: 14px;
        padding: 0.4rem 0.8rem;
    }

    .buttonPrimaryInActive {
        height: 45px;
        font-size: 14px;
        padding: 0.4rem 1.4rem;
    }

    .icon {
        transform: scale(0.9);
    }

    button img {
        width: 32px !important;
        height: 32px !important;
        margin-left: 4px !important;
    }
}

@media screen and (max-width: 480px) {
    .buttonPrimary {
        height: 40px;
        width: 90px;
        font-size: 13px;
        padding: 0.3rem 0.6rem;
    }

    .buttonPrimaryInActive {
        height: 40px;
        font-size: 13px;
        padding: 0.3rem 1rem;
    }

    .icon {
        transform: scale(0.8);
    }

    button img {
        width: 28px !important;
        height: 28px !important;
        margin-left: 3px !important;
    }
}