.container {
    padding: 0 10vw;
}
.listRoom {
    height: 100vh;
    overflow-y: auto;
}
.listRoom::-webkit-scrollbar {
    display: none;
}

.mapContainer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 33.333333%;
}
