.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.menuList {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #00bcd4;
    /* Màu nền của modal */
    border-radius: 8px;
    /* Bo góc cho toàn bộ modal */
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Đổ bóng */
}

.menuList::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #00bcd4 transparent;
}

.menuList li {
    background-color: #00bcd4;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.menuList li:hover {
    background-color: #e0f7fa;
    color: #00bcd4;
    /* Màu nền khi hover */
}

.menuList hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 12px 0;
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 10%;
    margin-top: 40px;
}

.profileContent {
    width: 40%;
}

.rentalSection {
    width: 60%;
}

.roomContainer {
    position: relative;
}

/* container giữ layout cố định */
.sliderWrapper {
    width: 100%;
    height: 500px;
    /* đảm bảo RoomCard không làm thay đổi chiều cao */
    overflow: hidden;
    position: relative;
}

/* wrapper chứa RoomCard cần flex để giữ layout ngang */
.motionWrapper {
    display: flex;
    gap: 16px;
    position: absolute;
    width: 100%;
}

/* mỗi thẻ RoomCard giữ đúng kích thước */
.cardWrapper {
    flex: 1 1 0;
}

.reviewWrapper {
    display: flex;
    flex-direction: column;
    /* show items vertically */
    gap: 12px;
    padding: 8px 0;
}

.reviewCard {
    width: 100%;
}

.buttonManage {
    width: 164px;
}
.groupHover {
    position: relative;
}

.hoverIcon {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.groupHover:hover .hoverIcon {
    opacity: 1;
}
