.additional-amenities-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-amenities-content {
    text-align: left;
    margin-bottom: 30px;
}

.additional-amenities-content h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.additional-amenities-content p,
.additional-amenities-content h3 {
    color: #555;
    margin-bottom: 30px;
    font-size: 16px;
    width: 700px;
}

.additional-amenities-grid,
.additional-safety-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
}

.additional-amenity-item {
    width: 200px;
    height: 160px;
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.additional-amenity-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    object-fit: contain;
}

.additional-amenity-item span {
    font-size: 16px;
    color: #555;
    display: block;
    text-align: center;
}

.additional-amenity-item.active {
    border-color: #17a2b8;
    background-color: #e8f8fb;
}

/* Phần tiêu đề */
.additional-amenities-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

