<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Xác minh Email</title>
  </head>
  <body>
    <div
      style="
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        font-family: Arial, sans-serif;
      "
    >
      <div
        style="
          max-width: 500px;
          margin: 0 auto;
          background-color: #ebebeb;
          padding: 20px 20px;
          text-align: center;
        "
      >
        <div>
          <img
            src="https://res.cloudinary.com/dkxoygnhi/image/upload/v1746599422/header_vix5of.png"
            alt="header"
            style="width: 100%; filter: brightness(90%)"
          />
        </div>
        <img
          src="https://res.cloudinary.com/dkxoygnhi/image/upload/v1746599421/minilogo_hz9qmm.png"
          alt="Logo"
          style="width: 70px; margin-top: 10px"
        />

        <h2
          style="
            color: #333333;
            font-size: 22px;
            margin-top: 10px;
            margin-bottom: 20px;
          "
        >
          Xác minh Email của bạn
        </h2>

        <div
          style="
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 30px;
          "
        >
          <p style="font-size: 18px; font-weight: bold; color: #333">
            {{user.fullname}}
          </p>
          <p style="color: #555555; font-size: 14px; margin: 10px 0">
            Hoàn tất xác minh địa chỉ email.
          </p>

          <a
            href="{{ verify_url }}"
            style="
              display: inline-block;
              background-color: #33b6d4;
              color: white;
              text-decoration: none;
              padding: 12px 25px;
              font-weight: bold;
              border-radius: 6px;
              margin-top: 10px;
            "
            >Xác minh Email</a
          >
        </div>

        <p style="color: #777777; font-size: 13px; line-height: 1.5">
          Nếu yêu cầu này không phải từ bạn, hãy bỏ qua email này.
        </p>

        <div style="margin-top: 35px">
          <img
            src="https://res.cloudinary.com/dkxoygnhi/image/upload/v1746599421/logo_k9l3qs.png"
            alt="Simi"
            style="height: 60px"
          />
          <div style="margin-top: 15px; width: 100%">
            <a href="https://www.facebook.com/PhuLam580886"
              ><img
                src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png"
                alt=""
                style="
                  width: 40px;
                  height: 40px;
                  padding: 2px;
                  border-radius: 20%;
                "
            /></a>
            <a href="https://www.facebook.com/PhuLam580886"
              ><img
                src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?semt=ais_hybrid&w=740"
                alt=""
                style="
                  width: 40px;
                  height: 40px;
                  padding: 2px;
                  border-radius: 20%;
                "
            /></a>
            <a href="https://www.facebook.com/PhuLam580886"
              ><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png?20140125013055"
                alt=""
                style="
                  width: 40px;
                  height: 40px;
                  padding: 2px;
                  border-radius: 20%;
                "
            /></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
